.nav-extended{
    background-color: #64b5f6 !important
}
.brand-logo{
    font-size: 30px ;
    font-weight: bold;
}
.circle{
    border: 8px solid #8ec0ee;
}
.nav-div{
    text-align: center;
}
.profile-name{
    
}